.hero {
  background-color: #394046;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)),
    url("/images/hero.jpg");
  background-position: center;
  background-size: cover;
  padding: 100px 0;
}

.hero h2 {
  color: white;
}

#endala-img {
  max-width: 75%;
}

#mint-progress-wrap,
#endala-img-wrap {
  display: none;
}
.progress-header {
  color: white;
  font-weight: bold;
}
